// пример переменных

$main_font: Raleway;
$secondary_font: Marmelad;
$supporting_font: Roboto;

$color01: #372E11;
$color02: #FFE182;
$color03: #FFF8E1;
$color04: #EDEDED;
$color05: #FFFBED;
$color06: #9B9B99;
$color07: #8E825C;
$color08: #0E493F;
$color09: #B9B3B3;

$animation_speed: 0.25s;