@font-face {
	font-family: HelveticaRegular;
	font-display: swap;
	src: url("../fonts/HelveticaRegular.woff2") format("woff2"), url("../fonts/HelveticaRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
