// Normalize.css
@import "../../node_modules/normalize.css/normalize";
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@import "_header";
@import "_footer";

*{
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;
  main {
    flex: 1 0 auto;
    padding: 30px 0;
  }
}
